.stable {border: 1px solid; border-color: #D0D0D0 #FFFFFF #FFFFFF #D0D0D0; overflow: hidden; display: block; -moz-user-select: none; -moz-user-focus: normal; -moz-user-input: enabled; }
.stable td {font: menu; white-space: nowrap; padding: 1px}
.stable-head {position: absolute; background: #F5F5F5; overflow: hidden; -moz-user-select: none; border: 1px solid; border-color: #FFFFFF #D0D0D0 #D0D0D0 #FFFFFF; border-bottom: 0; z-index: 10; text-transform: uppercase;}
.stable-head table {table-layout: fixed; width: 0}
.stable-head table tr {background: transparent url(../images/header.gif) repeat-x scroll center top}
.stable-head table tr td {height: 14px; font-size: 11px; font-family: Tahoma, Arial, Helvetica, sans-serif; border: 1px solid; border-color: #FFFFFF #D0D0D0 #D0D0D0 #FFFFFF; background: transparent url(../images/blank.gif) no-repeat scroll right center; line-height: 14px; overflow: hidden; white-space: nowrap; vertical-align: top}
.stable-head td div {padding: 0 12px 0 4px}
.stable-head div.resz {border: 1px solid #FF0000; width: 5px; height: 14px; padding: 0 !important; float: right; background: transparent url(../images/s.gif) no-repeat scroll left center; cursor: e-resize}
.stable-body {background: window; overflow: auto}
.stable-body table {table-layout: fixed; width: 0; }
.stable-body tr {cursor: pointer}
.stable-body td {height: 16px; border-bottom: 1px solid #E0E0E0; border-width: 0px 1px 1px 0px; overflow: hidden; vertical-align: top}
.stable-icon {width: 16px; height: 16px; margin-right: -6px; margin: 0 5px; padding: 0 !important; float: left}
.ie .stable-icon {}
.stable-lpad {width: 5px; height: 16px; margin: 0; padding: 0; float: left; }
.stable-body td div {font-size: 11px; font-family: Tahoma, Arial, Helvetica, sans-serif; overflow: hidden; height: 16px !important;}
.konqueror .stable-body td div { margin: 0 0px 0 0px !important }
.stable-body td div { margin: 0 2px 0 2px !important}
.ie .stable-body td, .ie .stable-body td div {zoom: 1 !important; height: 16px !important; line-height: 16px !important; vertical-align: top; float: none; white-space: nowrap !important}
.stable-body {background: #F5F5F5}
.stable-body tr.selected td {background: #CFDEEF}
.stable-body tr.odd td {background: #F3F3F3}
.stable-body tr.even td {background: #FFFFFF}
.stable-move-header {position: absolute; background: transparent url(../images/header_move.gif) repeat-x scroll center top rgba(255,255,255,0.7); top: 0px; font: menu; padding: 2px 12px 2px 4px; line-height: 12px; -moz-user-select: none; visibility: visible; border: 1px solid #0099FF; overflow: hidden; }
.gecko .stable-move-header {background: rgba(255,255,255,0.7); -moz-opacity: 0.7;}
.ie .stable-move-header {background: rgba(255,255,255,0.7); filter:alpha(opacity=70)}
.webkit .stable-move-header {background: rgba(255,255,255,0.7);}
.opera .stable-move-header {background: rgba(255,255,255,0.7);}
.stable-active-header {border-color: threedface !important}
.stable-separator-header {position: absolute; top: 0px; left: 0px; font: menu; height: 1em; width: 1px; overflow: hidden; background: #0099FF; padding: 3px 0px}
.stable-virtpad {width: 10px; height: 0px}
.stable-scrollpos {width: 80%; height: 16px; left: 10%; top: 50%; position: absolute; padding: 0 5px; margin-top: -8px; background: #FFFFFF; color: #AAAAAA; font-size: 11px; font-family: Tahoma, Arial, Helvetica, sans-serif; font-weight: bold; text-align: center; overflow: hidden; display: none; white-space: nowrap}
.stable-resize-header {	position: absolute; background-color: #A0A0A0; width: 1px; top: 0px; font: menu; -moz-user-select: none; visibility: hidden; overflow: hidden; z-index: 100; }

.stable-head .rowcover { position: absolute; left: 0; top: 0; height: 20px; width: 1000px; background: transparent; display: none; }

.meter-value { float: left; background-color: #99D699; border: 1px inset #BBBBBB; border-bottom: none; border-radius: 25px;}
.meter-text { position: relative; text-align: left; float: left; width: 0px; height: 0px; overflow: visible; left: 40%; font-size: 11px; font-family: Tahoma, Arial, Helvetica, sans-serif;	z-index: 1;color: #FFFFFF; }

.meter-value-start-color { background-color: #E3121A }
.meter-value-end-color { background-color: #24834f }
td.stable-List-col-3 { border-radius: 25px;}