html, body {background-color: #222222; color: #999999; }
div#preload {width: 0px; height: 0px; display: none; background-image: url(./images/toolbar.png); background-image: url(./images/tstatus.png); background-image: url(./images/t_bg.png); background-image: url(./images/r_bg.gif); background-image: url(./images/i_bg.gif); background-image: url(./images/asc.gif); background-image: url(./images/desc.gif); background-image: url(./images/pnl_open.gif); background-image: url(./images/pnl_close.gif)}
div#cover {background: #222222}
div#msg {background: #222222; border-top: 1px solid #333333; border-bottom: 1px solid #333333}
div#sc {border: 1px solid #333333; background-color: #222222}
div#sc li.se_act div {background-color: #333333; color: #303030}
div#lng {background-color:#222222; border:1px solid #333333}
ul.CMenu {border: 1px solid #333333; border-right: 2px solid #333333; border-bottom: 2px solid #333333; background: #222222; }
ul.CMenu li {background: #222222}
ul.CMenu li a.dis {color: #333333}
ul.CMenu li a.dis:hover {background-color: #222222; color: #333333}
ul.CMenu li hr {border-top: 1px solid #333333}
ul.CMenu li a.exp {background: transparent url(./images/menuexp.gif) no-repeat scroll 140px center; }
ul.CMenu li a.sel {background: transparent url(./images/menusel.gif) no-repeat scroll 4px center}
ul.CMenu li a:hover {background-color: #303030; color: #111111}

ul.CMenu li:hover ul li a {background-color: #222222; color: #666666}
ul.CMenu li:hover ul li a:hover {background-color: #303030; color: #111111}
ul.CMenu li ul li a.dis {color: #333333}
ul.CMenu li ul li a.dis:hover {background-color: #222222; color: #333333}

#sel {border: 1px dotted #555555;}

div#t {background: #222222 url(./images/t_bg.png) repeat-x center center; border-bottom: 1px solid #333333;}
div#t a:hover {background: transparent url(./images/tb_bg.gif) no-repeat scroll center center}
div#t div.TB_Separator {background-color: #333333}
div#t div#add {background: transparent url(./images/toolbar.png) no-repeat -24px center}
div#t div#create {background: transparent url(./images/toolbar.png) no-repeat -48px center}
div#t div#remove {background: transparent url(./images/toolbar.png) no-repeat -72px center}
div#t div#start {background: transparent url(./images/toolbar.png) no-repeat -96px center}
div#t div#pause {background: transparent url(./images/toolbar.png) no-repeat -120px center}
div#t div#stop {background: transparent url(./images/toolbar.png) no-repeat -144px center}
div#t div#moveu {background: transparent url(./images/toolbar.png) no-repeat -168px center}
div#t div#moved {background: transparent url(./images/toolbar.png) no-repeat -192px center}
div#t div#search {background: transparent url(./images/toolbar.png) no-repeat -216px center}
div#t div#rss {background: transparent url(./images/toolbar.png) no-repeat -240px center}
div#t div#setting {background: transparent url(./images/toolbar.png) no-repeat -264px center}

div#t div#help {background: transparent url(./images/quest.gif) no-repeat 0px center}
div#t div#go {background: transparent url(./images/toolbar.png) no-repeat -96px center}
div#t div#plugins {background: transparent url(./images/plugin.png) no-repeat 0px center}

input.Textbox, input.Button, select {border: 1px solid #333333}
Input.TextboxShort {border: 1px solid #333333}
Input.TextboxMid {border: 1px solid #313131; background-color: #212121;}
Input.TextboxLarge {border: 1px solid #333333}
Input.TextboxVShort {border: 1px solid #333333}
input.Button {background-color: #999999}
a {color: #686868}

div#CatList {border: 1px solid #222222; background-color: #222222}
div#CatList ul li {border-color: #222222}
div#CatList ul li.sel {background-color: #303030; color:#1a9bdb !important; border-color: #303030}
#-_-_-all-_-_-, #-_-_-dls-_-_-, #-_-_-com-_-_-, #-_-_-act-_-_-, #-_-_-iac-_-_-, #-_-_-err-_-_- {background-image: url(./images/tstatus.png)}
div#CatList ul li.RSS {background-image: url(./images/tstatus.png); }
div#CatList ul li.disRSS {background-image: url(./images/tstatus.png); }
.stable-icon {background-image: url(./images/tstatus.png); }
.Icon_File {background: transparent url(./images/file.gif) no-repeat left center}
.Icon_Dir {background: transparent url(./images/dir.gif) no-repeat left center}
.Icon_Share {background: transparent url(./images/dir.gif) no-repeat left center}

div.tab {background: #222222}
div#lcont {background: #222222}
div#gcont table td.Header {background: #222222}
div.graph_tab {background-color: #222222}
div.table_tab {background-color: #222222}
div#List {border: 1px solid #333333;}

div#modalbg {background-color: #222222;}

div#List {border: 1px solid #333333; background-color: #222222}
div#FileList, div#TrackerList, div#PeerList, div#Speed {background-color: #222222}

div#stg { background-color: #222222; color: #303030; border: 1px solid #333333}

div#stg-header {background-color: #222222; border-bottom: 1px solid #333333}
div#stg .lm {background-color: #222222; border: 1px solid #333333}

.lm li {background: transparent url(./images/bul.gif) no-repeat scroll left center}
.lm li.first {background: transparent url(./images/bul_f.gif) no-repeat scroll left bottom}
.lm li.last {background: transparent url(./images/bul_l.gif) no-repeat scroll left top}
.lm li div.toggle {background: transparent url(./images/exp.gif) no-repeat scroll center center}
.lm li a {color: #303030}
.lm li a.focus {background-color: #333333}
.stg_con {background-color: #222222}
* > fieldset {border: 1px solid #333333}
input.disabled {background-color: #222222; color: #333333; border: 1px solid #333333}
td.disabled, label.disabled, span.disabled, div.disabled {color: #333333}
legend {color: #303030}
select.cols {border: 1px solid #333333}
div#dragmask {border: 1px dotted #333333}
div#tdetails {background-color: #222222}
div#tdcont {background: #222222; border: 1px solid #222222}

div#tadd {background-color: #222222; border: 1px solid #333333}
div#tadd-header {background-color: #222222; border-bottom: 1px solid #333333}
.tabbar li a {border: 1px solid #222222; background-color: #2a2a2a;}
.tabbar li a:hover {border-top: 2px solid #222222}
.tabbar li.selected a {background: #181818; color: #eeeeee; text-shadow: #FFFFFF 0 0 1px}

div#dlgProps textarea#prop-trackers {background: #222222; border: 1px solid #333333}
div.dlg-window {background-color: #222222; color: #FFFFFF; border: 1px solid #333333;}
div.dlg-header { background-color: #222222; border-bottom: 1px solid #333333}

div.tab {background-color: #222222}

div#t div#ind {background: transparent url(./images/ajax-loader.gif) no-repeat 0px center;}

span#loadimg {background: transparent url(./images/ajax-loader.gif) no-repeat center center; }

.catpanel { background: url(./images/pnl_open.gif) 2px no-repeat; background-color: #2a2a2a; border-bottom: 1px solid #303030; border-top: 1px solid #303030;  }

#StatusBar { background-color: #2a2a2a; color: #FFFFFF; position: absolute }
#st_up { background:url(./images/status_up.gif) 6px no-repeat; }
#st_down { background:url(./images/status_down.gif) 6px no-repeat; }
.statuscell {border-right: 0px solid #333333;}
div#stdpwn_speed {color: #4480d5; font-weight: bold;}
div#stup_speed {color: #18a473; font-weight: bold;}
div#stup_total, div#stdown_total {color: #fce4aa; font-weight: bold;}
td.stable-List-col-1, td.stable-List-col-3, td.stable-List-col-5, td.stable-List-col-7, td.stable-List-col-9, td.stable-List-col-11, td.stable-List-col-13, td.stable-List-col-15, td.stable-List-col-17, td.stable-List-col-19, td.stable-List-col-21 { color: #FFFFFF;}
td.stable-List-col-0, td.stable-List-col-2, td.stable-List-col-4, td.stable-List-col-6, td.stable-List-col-8, td.stable-List-col-10, td.stable-List-col-12, td.stable-List-col-14, td.stable-List-col-16, td.stable-List-col-18, td.stable-List-col-20, td.stable-List-col-22 { color: #9faaaa;}
span#-_-_-all-_-_-c, span#-_-_-dls-_-_-c, span#-_-_-act-_-_-c, span#-_-_-iac-_-_-c, span#-_-_-err-_-_-c { color: #687f9e ;}